.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.tz-gallery .lightbox img {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.03);
}

.tz-gallery img {
    height: 350px !important;
    overflow: hidden;
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}