body{
    background-image: url('../img/hip-square.png') !important;
}

#nttLogo{
    height: 100px;
    width: 100px;
}
#websiteTitle{
    font-size: 10em;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: #191970;
}
#websiteSlogan{
    font-size: 5.4em;
}
/* Carousel Styling */
.slide1{
    background-image: url('../img/logo2.png');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.slide2{
    background-image: url('../img/gabinet1.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide3{
    background-image: url('../img/gabinet2.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide4{
    background-image: url('../img/gabinet3.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-caption h1{
    font-size: 38px;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
}
.carousel-caption p{
    font-size: 20px;
}

.row{
    padding-right: 15px;
    padding-left: 15px;
}

#logo{
    background-color: #d6d6d6;
    background-image: url('../img/logo1.png');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#footer{
    background-color: #054873;
    font-size: 12px;
    color: #d6d6d6;
    margin: 1px auto 0 auto;
    text-align: center;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

strong{
    font-size: 18px;
}

.scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}

.mycontent {
    border-bottom: 1px double darkgray;
    margin-bottom: 20px;
}

.contact {
    text-align: right;
    background-color: #d6d6d6;
    height: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 20px;
}

.contact a{
    text-decoration: none;
    color: inherit;
}

.blue {
    color: #054873;
}

h3 {
    text-align: center;
}

.thumbnail{
    height: 350px !important;
    overflow: hidden;
    background-color: #d6d6d6;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.thumbnail img{
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
    padding: 5px;
}

.center{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.dropdown-menu{
    min-width: 450px !important;
}

.dropdown-menu li img{
    height: 100px;
    width: 100px;
}

.jumbotron{
    background-color: #d6d6d6;
}

.navbar{
    background-color: #d6d6d6;
}